.imagen {
    height: 7rem;
}

.imagen-pokemon {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    
}

.section-buscador {
    display: flex;
    margin-bottom: 4rem;
    width: 100%;
    @media (max-width: 840px) {
        display: block;
    }
}

.buscador {
    height: 2rem;
    width: 100%;
    border-radius: 2rem;
    box-shadow: -1px 1px 10px 0px rgb(166 167 131 / 54%);
    background: rgb(255 255 255 / 94%);
    border: 1.5px solid rgba(211, 210, 25, 0.33);
    padding-inline-start: 3.25rem;
    @media (max-width: 840px) {
        width: 85%;
    }
}

.card {
    border: 1.5px solid rgb(211 210 25 / 33%);
    border-radius: 2rem;
    box-shadow: -1px 1px 10px 0px rgb(166 167 131 / 54%);
    margin-bottom: 2rem;
    height: 14rem;
    width: 15rem;
    padding: 2rem;
    background: #fdfcf45c;
}

.card:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.found {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.name-pokemon {
    color: rgb(3 3 3 / 65%);
    font-weight: 900;
    text-align: center;
    margin-bottom: 1rem;
}

.type-pokemon {
    margin-bottom: 0.5rem;
    color: rgb(3 3 3 / 65%);
}

.ability-pokemon {
    color: rgb(3 3 3 / 65%);
}

.search {
    position: absolute;
    margin-left: 1rem;
    top: 3.4rem;
    color: #000000a6;
    @media (max-width: 840px) {
        top: 10.6rem;;
    }
}

.content-search {
    margin-top: 3rem;
    margin-left: 5rem;
    width: 100%;
    @media (max-width: 840px) {
        margin-left: 0rem;
    }
}

.type{
    margin-right: 0.5rem;
}

.ability{
    margin-right: 0.5rem;
}

